.container1 {
    position: absolute;
    /* Fixed positioning to place the container relative to the viewport */
    top: 0;
    /* Align the container to the top */
    /* Align the container to the left */
    width: 100vw;
    /* Use flexbox for arranging the circles */
    height: 100%;
    pointer-events: none;
    /* Add some space between the circles */
    overflow: hidden;
    /* Optional padding around the circles */
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    animation: fallingCircles 3s linear infinite;
}

@keyframes fallingCircles{
    0%{
        transform: translateY(0);
    }    
    100% {
            transform: translateY(100vh);
        }
}

.container2{
        position: relative;
        display: flex;
        justify-content: center;
            width: 100%;
            height: 100vh;
            overflow: hidden;
}


.image{
    width: 90px;
    left: 50%;
    margin: auto;
    cursor: pointer;
}


