.container {
    position: absolute;
    /* Fixed positioning to place the container relative to the viewport */
    top: 0;
    /* Align the container to the top */
    left: 0;
    /* Align the container to the left */
    width: 100%;
    /* Use flexbox for arranging the circles */
    height: 100%;
    pointer-events: none;
    /* Add some space between the circles */
    z-index:9999;
    /* Optional padding around the circles */
}

.circles {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    animation: fallingCircles 3s linear infinite;
    position: absolute;
    left: 100px;
    top: -40px;
}

@keyframes fallingCircles{
    0%{
        transform: translateY(0);
    }    
    100% {
            transform: translateY(100vh);
        }
}

.circles:nth-child(1){
left: 500px;
width: 30px;
height: 30px;
animation-delay: 0s;
animation-duration: 6s;
}

.circles:nth-child(2) {
    left: 800px;
    width: 40px;
    height: 40px;
    animation-duration: 2s;
}

.circles:nth-child(3) {
    left: 300px;
    width: 40px;
    height: 40px;
    animation-duration: 2s;
}
.container2{
        position: relative;
            width: 100%;
            height: 100vh;
            overflow: hidden;
}


.image{
    width: 90px;
    display: block;
    margin: auto;
    cursor: pointer;
}


